@import '../abstracts/variable';

@mixin peraTxt($fontColor){
    color: $fontColor;
    font-size: 17px;
    line-height: 1.8;
    width: 80%;
    text-align: center;
    font-family: $poppins-font;
}

@mixin heading(){
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 25px;
    width: 90%;
}

@mixin btn-hover($font-weight){
    font-weight: $font-weight;
    background-color: $btn-hover;
    color: $blackColor;
}


@mixin items-groups(){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin items-head(){
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    h3{
        font-size: 28px;
        color: #2B2B2B;
        text-transform: capitalize;    
        line-height: 1.2;
        font-family: $poppins-font;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            bottom: -10px;
            left: 0;
            height: 3px;
            width: 60px;
            background-color: $primary-color;
            // margin-top: 20px;
        }
    }
    p{
        font-size: 16px;
        font-family: $poppins-font;
        text-transform: capitalize;
        color: $primary-color;
        cursor: pointer;
    }
}

@mixin explore-iteams(){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px;
    background-color: $backgroundColor;
    border-radius: 12px;
    cursor: pointer;
    img{
        transition: .4s;
        width: 80px;
        height: 80px;
        border-radius: 15px;
    }
    p{
        font-family: $poppins-font;
        margin-top: 10px;
        font-size: 18px;
        color: $primary-color;
        line-height: 1.2;
        font-weight: 500;
    }
}

@mixin iteams-hover(){
    img{
        scale: 1.2;
    }
}



// all iteams
@mixin _iteams(){
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 22%;
    font-family: $poppins-font;
    position: relative;
    .over-flow{
        color: $backgroundColor;
        font-family: $poppins-font;
        text-transform: uppercase;
        position: absolute;
        top: 25px;
        left: -100%;
        border-radius: 0 10px 10px 0;
        padding: 2px 15px;
        background-color: $overFlowColor;
        transition: .4s;
        z-index: 999;
    }
    img{
        cursor: pointer;
        border-radius: 10px 10px 0 0;
        transition: .4s;
    }
    .iteam-txt{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0 10px 10px;
        h5{
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 500;
        }
        p{
            color: $primary-color;
            font-size: 14px;
            text-transform: capitalize;
            margin-top: 8px;
        }
        .iteam-purchase{
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            .left-foot{
                h6{
                    font-size: 18px;
                    font-weight: 700;
                    color: #2b2b2b;
                }
                p{
                    color: #2b2b2b;
                }
                .on-sale{
                    color: $primary-color;
                    span{
                        color: #2B2B2B;
                        text-decoration: line-through;
                    }
                }
            }
            .right-foot{
                display: flex;
                gap: 10px;
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px 18px;
                    font-size: 16px;
                    color: $primary-color;
                    border: 1px solid $primary-color;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: .4s;
                    &:hover{
                        background-color: $primary-color;
                        color: $backgroundColor;
                    }
                    &:nth-child(2){
                        color: #2b2b2b;
                        border: 1px solid #2b2b2b;
                        
                    }
                    &:nth-child(2):hover{
                        background-color: black;
                        color: $backgroundColor;
                    }
                }
            }
        }
    }
    &:hover{
        img{
            filter: contrast(.8);
        }
        .over-flow{
            left: 0;
        }
    }

}

@mixin section-heading(){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    h2 {
      text-transform: capitalize;
      margin: auto;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 600;
      line-height: 1.6;
      margin-bottom: 25px;
      width: 90%;
      font-family: $poppins-font;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: -10px;
        left: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 30%;
        background-color: $primary-color;
      }
    }
    p {
      @include peraTxt(#743cee);
      text-align: center;
      margin-bottom: 25px;
    }
}

